@media screen and (max-width:200px){
  
    .logoimg {
  
    margin-left: 38px!important;
}
    button.navbar-toggler {
    background: #ccc!important;
    margin: 20px 40px!important;
}
    ul.navbar-nav {
   
    margin-left: 30px!important;
}
    
   .topSVG {
    top: 214px!important;
}


    .footer_top_content_left {
    width: 100%!important;
    
}
    .logo_footer {
    width: 36%!important;
    margin-bottom: 30px!important;
    margin-left: 25%!important;
}
    .footer_socials {
    display: flex!important;
    margin-left: 20px!important;
    width: 50%!important;
    flex-direction: column!important;
}
    .footer_top_content_left .footer_socials a {

    margin-bottom: 5px!important;
}
  .footer_top_content_right ul {
    margin-left: -33px!important;
}
    .footer_top_content_right h3 {
  
    font-size: 16px!important;
  
}
    .footer_bottom span {

    font-size: 9px!important;
  
}
    /***************************************************
    ===================================================
                header&footerMediaMax200px
    
    =====================================================
    *****************************************************/
    
    .middleContainertext_Header {
    font-size: 16px!important;
}
    
    
   .middleContainertext_paragraph {
  
    font-size: 11px!important;
    width: 80%!important;
   
} 
    
    .middleContainertext_Header::after {
  
    top: 55px!important;
    left: 15px!important;
}
 .download {
 
    margin-left: 5px!important;
    font-size: 10px!important;
}   
    .bottomContainerContent_header {

    font-size: 20px!important;

}
  .sel>select, input, button {
    margin-top: 10px!important;
}
    .slidebtn{
        top:-10px!important
    }
    .imgB{
        right: 25px!important;
        top:25px!important;
    }

     .detailsContainer> h1 {
    margin-left: 0px!important;
    font-size: 27px!important;
}
    
    
    .detailsContainer> h3 {
    font-size: 15px!important;
    margin-left: -7px!important;
}
    
    

    button.btn {
    font-size: 7px;
}
.addFav {

    margin-top: -34px!important;
}
    button.btn {
    font-size: 6px;
}

}