@font-face{
     font-family: DejaVuSans;
  src: url(../fonts/DejaVuSans.ttf);
}
@font-face{
     font-family: archy;
  src: url(../fonts/archy.ttf);
}
@font-face{
     font-family: nino;
  src: url(../fonts/bpg-nino-mtavruli-webfont.woff2);
}
.wrapper{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
}
#header{
  height: auto;
    position: relative;
    z-index: 20;
width: 100%
}

.navbar{
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 4;
}
}
.navbar-brand {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
ul.navbar-nav {
    margin: auto;
}

.logoimg {
    margin: 0 auto;
    width: 60px;
    margin-left: 220px;

}

 .topSVG {
    position: absolute;
    top: 90px;
    width: 100%;
}

.topSVG svg {
    width: calc(111% + 1.3px);
    height: 28px;

}
ul.navbar-nav {
    margin-right: 30px;
}
a.nav-link {
    color: #A4A9AA!important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
     font-family: "archy";
}
.navbar-toggler-icon{
    color: #A4A9AA;
}
a.btn.regBtn {
background: #1CA29C;
    padding: 10px 15px;
    color: #fff;
    margin-right: 250px;
    font-family: "DejaVuSans";
    font-weight: 500;
    border-radius: 20px 20px 20px 20px;
}






.middle{
display: block;
    overflow: hidden;
    position: relative;
    top: -40px;

}
.videoContainer{

        width: 100%;
max-height: 425px;

}
video {
    min-width: 100%;
    min-height: 425px;

}
.middleSvg {
width: 100%;
    height: 150px;
    margin-bottom: -45px;

}

.middleSvg svg {
    transform: rotate(
180deg
 );
    width: calc(114% + 1.3px);
    position: absolute;
    height: 23px;
    fill: #fff;
    z-index: 10;
    top: 508px;
}



.middleContainer {
    width: 100%;
    height: auto;
    background-color: #fff;
background-position: top center;
    background-image: url(../images/svgs/Bermuda_Circle_w.svg);
    background-repeat: no-repeat;
background-size: cover;
  display: flex;
    flex-direction: column;
}




.middleContainertext {

    width: 100%;
    height: auto;
}

.middleContainertext_Header{

    width: 100%;
    text-align: center;
    font-family: "nino";
    font-size: 48px;
    font-weight: 600;
        position: relative;
}
.middleContainertext_Header::after{
content: '';
    width: 150px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 92px;
    left: 635px;

}

.middleContainertext_paragraph {
    /* text-align: center; */
    color: #7A7A7A;
    font-family: "DejaVuSans", Sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    margin:90px auto;
    text-align: justify;
}




.download{
  color: #fff;
background: #1CA29C;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 570px;
       font-family: "DejaVuSans", Sans-serif;
    font-size: 17px;

}
.download:hover{
      color: #fff;
    background:black;
    text-align: center;
    transform: scale(1.2);
    transition: 0.5;
}
i.fas.fa-arrow-circle-down {
    padding-left: 10px;
    padding-right: 10px;
}

.middlecontainer_slider{
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: flex;
}



.sliderItem{
    width: 270px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
      position: relative;
}

   .slidebtn{
    position: absolute;
display: none;
    color: #fff;
    top: 0;
    left: 0;
    padding: 2px 25px;
    text-align: center;
    text-transform: capitalize;
        font-size: 17px;
     font-family: "archy";

}
.slidebtn:hover{
    color: #fff;
}
.sliderItem:hover{

    width: 100%;
    background-color: #000;
    height: 180px
}
.sliderItem:hover .slidebtn{
    display: block;
  width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.3);

}
.slideimage{
    width: 100%;
    height: 180px;
      border-radius: 10px
}

.bottomcontainer{
    width: 100%;
    height: auto;
    background-image: url(../images/svgs/Bermuda_Circle_g.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.bottomcontainerSvg{
    overflow: hidden;
    position: absolute;
    left: 0;
     width: 100%;


}
.bottomcontainerSvg svg{

width: calc(114% + 1.3px);
    height: 51px;
    fill:#fff;
    line-height: 0;
     display: block;

    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottomContainerContent {
    display: flex;
    flex-direction: column;
    margin: 55px auto;
    text-align: center;
    height: auto;
}
.bottomContainerContent_header{
    margin-bottom: 50px;
    margin-top: 50px;
    color: #fff;
}
.btnfilter{
    background: #000;
    color: #fff;
}
.sel>select,input,button{
    margin-right: 10px;

}

.apartamentContainerConent{
    background: #fff;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 30px;
    height: auto;
    border-radius: 20px;
}
.imgContainer{
    width: 390px;
    padding: 20px;
        position: relative;

}
.imgContainer >.apartamentContainerConent_img{
    width: 90%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate(
0deg
);
}

.imgContainer >.apartamentContainerConent_img:hover{
      filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(
0deg
);
    transform: scale(1.1);
    transition: all linear .5s;
        color:#fff
}


.imgB {
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 50%;
    left: 80px;
    top: 80px;
    border: 1px solid #fff;
    color: #fff;

}
imgB:hover{
    color: #fff;
    background: #039F9A;
}
.detailsContainer{
     padding: 20px;
     width: 365px;
    text-align: center;
}

.detailsContainer >button{
    border:2px solid #000;
}
.detailsContainer >button:hover{

background-color: #1CA29C;
    color: #fff;
    border:2px solid #000;
}
.detailsContainer> h1{


font-family: "archy";
    font-size: 31px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}
.detailsContainer> h3{
    color: #1CA29C;
 margin-bottom: 10px;
font-family: "archy";
    font-size: 22px;
    font-weight: 600;
}
.addFav {
    display: flex;
    flex-direction: column;
    padding: 20px;
     margin-top: 30px
}

.addFav > button {
    color: #1CA29C;

}.addFav > button i{
    padding-right: 10px;
}


.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #000000;
}
.footerSvg{
    overflow: hidden;
    position: absolute;
    left: 0;
     width: 100%;


}
.footerSvg svg{

width: calc(114% + 1.3px);
    height: 18px;
    fill:#029F9A;
    line-height: 0;
     display: block;

    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.footer_top {
    width: 100%;
    height: auto;
    display: flex;
    margin: 30px auto;
}


.footer_top_content {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.footer_top_content_left {
    width: 20%;
    margin-right: auto;
}
.footer_top_content_left .footer_socials a{
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #818a91;
padding: 5px;
    text-align: center;

}
.footer_top_content_left .footer_socials i{
    font-size: 18px;
    color: #fff;
}

.footer_top_content_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;

    padding-top: 30px;
}
.footer_top_content_right ul{
    list-style: none;
    text-align: center;
}
.footer_top_content_right li{
     font-family: DejaVuSans;
    font-size: 14px;
     padding: 6px;


}.footer_top_content_right a{
text-decoration: none;
    color: #7A7A7A;

}
.footer_top_content_right h3{
     font-family: DejaVuSans;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}
.logo_footer{
    width: 145px;
        margin-bottom: 30px;
}
.logo_footer >img{
    width: 100%;
}
.footer_bottom{
    background-color: #1CA29C;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_bottom span{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    font-family: "DejaVuSans";
}
/**************************************************

==================================================================================================================================
**********************************************************/

.person{
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.personContent{
        margin-top: 160px;
    text-align: center;
}
h1.personContentHeader {
    font-family: "Archy", Sans-serif;
    font-size: 48px;
    font-weight: 600;
}

h3.personname {
    font-family: "DeJavu", Sans-serif;
    font-size: 22px;
    font-weight: normal;
}





.btn.profilechange {
    color: #039F9A;
    border: 1px solid;
     font-family: "DejaVuSans";
    width: auto;
    font-size: 15px;

     border-radius: 20px;
}
.M_title{
        font-family: "DejaVuSans";
    font-weight: 600;
    color: #039F9A;
    line-height: 1;
    font-size: 23px;
}
.M_form label{font-family: "DejaVuSans"
    font-size: 15px;
    font-weight: 400;
}



.mfContent{
    
    margin-right: auto;
}

button.btn.btn-primary.savemy {
    background-color: #039F9A;
    color: #fff;
}
button.btn.btn-primary.savemy:hover {
    background-color: #039F9A;
    color: #fff;
}

.myfav{
    width: 100%;
    height: auto;
    background-image: url(../images/svgs/Bermuda_Circle_g.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.myfav_shape-top{
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.myfav_shape-top svg{
        width: calc(114% + 1.3px);
    height: 51px;

display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.myfav_shape-top svg path{
fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(
0deg
);
    transform: rotateY(
0deg
);


}
.myfavContent{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    top: 40px;
    
}

.myfavContent .myfavContent_h{
  color: #FFFFFF;
    font-family: "archy";
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.apartamentContainerConent_favs{
    margin-bottom: 80px;
    
}











.mycontact{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../images/svgs/Bermuda_Circle_w.svg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    top:-60px;
}
.mycontactsvg{
overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.mycontactsvg svg {
    width: calc(114% + 1.3px);
    height: 51px;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transform: rotate(
180deg
);

}

.mycontactsvg svg path{


    fill: #039F9A;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(
0deg
);
    transform: rotateY(
0deg
);
}

.mycontactContent{
/*    position: absolute;*/
        display: flex;
/*    width: 90%;*/
text-align: center;
    margin-top: 60px;
    flex-direction: column;

}

.mycontactHeader{
    font-size: 48px;
    font-family: 'archy';
        margin-bottom: 30px;
        margin-top: 30px;
}


.mycontactContent_sub{
   display: flex;
       justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.mycontactContent_sub .devCompany >h2{
    

font-family: "DejaVuSans";
    font-size: 19px;
    font-weight: 600;
}


.mycontactContent_sub .devCompany >h2.Salemanager{
   font-family: "DejaVuSans";
    font-size: 17px;
    font-weight: normal;

}

.mycontactContent_sub .devCompany >h2.position{

font-family: "DejaVuSans";
    font-size: 17px;
    font-weight: normal;
    color:  #039F9A;
}

.devCompany_icons_a {
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #039F9A;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
}


   .devCompany {
    background: #F9F9FE;
    padding: 30px;
    box-shadow: 5px -4px 10px #888888;
    border-radius: 30px;
    
}
.devCompany:hover{
    border: 1px solid #039F9A;
}

.Calls{
    text-align: center;
    margin-top: 30px;
}
.CallsHeader{
    font-size: 48px;
    font-family: 'archy';
        margin-bottom: 30px;
        margin-top: 50px;
}
.Calls_sub{
  display: flex;
       justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 30px;

}
.Calls_sub_Content{
   background: #F9F9FE;
    padding: 30px;
    box-shadow: 5px -4px 10px #888888;
    border-radius: 30px;
}
.Calls_sub_Content:hover{
    border:1px solid #039F9A
}
section.callDate {
    font-family: "DejaVuSans";
    font-size: 19px;
    font-weight: 600;
    line-height: 2;
}
section.callTime {
    color: #FFA82D;
      font-family: "DejaVuSans";
    font-size: 16px;
    font-weight: 600;
       line-height: 2;
}
section.callCompany {
      font-family: "DejaVuSans";
    font-size: 19px;
    font-weight: 600;
       line-height: 2;
}
section.callManagerName {
      font-family: "DejaVuSans";
    font-size: 17px;
    font-weight: normal;
       line-height: 2;
}
section.callManager {
      font-family: "DejaVuSans";
    font-size: 16px;
    font-weight: normal;
       line-height: 2;
}
.Call_icons{
    line-height: 2;
}
.Call_icons_a {
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #039F9A;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
}