

@media (min-width:200px) and (max-width: 576px) {


    .navbar-brand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:15px auto;


}
    img.logoimg {
    margin: auto;
        width: 60px;
}

    .navbar-toggler {
        background: #7A7A7A;
        margin: auto
}
li.nav-item {
    text-align: center;
}
  a.btn.regBtn {

    margin-left: 129px;
    margin-top: 15px;
}

h1.middleContainertext_Header {
    font-size: 20px;
}
.middleContainertext_Header::after {
    left: 140px;
}

.bottomContainerContent_header {
    font-size: 20px;
}


a.btn.download {

    margin-left: 85px;
    font-size: 16px;

}
    a.btn.imgB {
    top: 88px;
    left: 90px;
}
    .middleContainertext_paragraph {
    font-size: 14px;
    margin: 90px 95px;
    text-align: justify;
        width: 50%;
}
  .form-group.sel {
    flex-direction: column;
}
    .form-inline .form-control {

    width: 150px;
    vertical-align: middle;
}

    .sel>select, input, button {
    margin-right: 10px;
    margin-top: 10px;
}
    form.form-inline {
    margin: auto;
}
    .apartamentContainerConent {
    flex-direction: column;
}
    .imgContainer {
    margin: auto;
}
    .detailsContainer {
    margin: auto;
}
.addFav {
    margin: auto;
}
.footer_top_content_left {
    width: 100%;
}
.logo_footer >img {
    width: 80%;
    margin-left: 100px;
    }

.footer_bottom {
    flex-direction: column;
    /* text-align: center; */
    font-size: 11px;
    margin-right: 10px;
}
    .footer_socials {
    margin-left: 55px;
}
    .footer_top_content_right {
    margin: auto;
}





}
/**
=========================media200================
**/




@media (min-width:557px) and (max-width: 768px) {


    .navbar-brand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:15px auto;


}
    img.logoimg {
    margin: auto;
        width: 60px;
}

    .navbar-toggler {
        background: #7A7A7A;
        margin: auto
}
li.nav-item {
    text-align: center;
}
  a.btn.regBtn {
       margin-left: 175px;
    margin-top: 15px;
}


h1.middleContainertext_Header {
    font-size: 20px;
}
.middleContainertext_Header::after {
    left: 190px;
}

.bottomContainerContent_header {
    font-size: 20px;
}


a.btn.download {

margin-left: 135px;
    font-size: 16px;

}

    a.btn.imgB {
    top: 88px;
    left: 90px;
}

    .middleContainertext_paragraph {
    font-size: 14px;
    margin: 90px 120px;
    text-align: justify;
        width: 50%;
}
  .form-group.sel {
    flex-direction: column;
}
    .form-inline .form-control {

    width: 150px;
    vertical-align: middle;
}

    .sel>select, input, button {
    margin-right: 10px;
    margin-top: 10px;
}
    form.form-inline {
    margin: auto;
}
    .apartamentContainerConent {
    flex-direction: column;
}
    .imgContainer {
    margin: auto;
}
    .detailsContainer {
    margin: auto;
}
.addFav {
    margin: auto;
}
.footer_top_content_left {
    width: 100%;
}
.logo_footer >img {
    width: 80%;
  margin-left: 200px;
    }

.footer_bottom {
    flex-direction: column;
     text-align: center;
    font-size: 11px;
    margin-right: 10px;
}
    .footer_socials {
    margin-left: 150px;
}
.footer_top_content_right {
    margin-right: 58px;
    flex-direction: column;
    width: 100%;
}





}

/***
====================media768===========================
***/







@media (min-width:769px) and (max-width: 992px) {
      .navbar-brand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:15px auto;


}
    .navbar{
        flex-direction: column;
    }
   img.logoimg {
    margin: auto;
        width: 60px;
}
     .navbar-toggler {
        background: #7A7A7A;
        margin: auto;
         display: flex;

}

li.nav-item {
    text-align: center;
}
  a.btn.regBtn {

    margin-top: 15px;
          margin-left: 240px;
}

}




